################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SeleniumCSharpNetCore/v16/TestStore/0
/.vs/SeleniumCSharpNetCore
